{% load static %}
<section class="hero-section">
    <div class="hero-container">
        <div class="hero-grid">
            <div class="hero-text">
                <h1 class="hero-title">
                    <!--Micro créditos digitales para emprendedores-->
                    Créditos digitales para mujeres emprendedoras en Colombia
                </h1>
                <p class="hero-description">
                    Impulsa tu negocio con créditos digitales pensados para mujeres emprendedoras en Colombia.
                </p>
                <div class="hero-button-wrapper">
                    {# ✅ NUEVA URL - Emprendimiento #}
                    <a href="{% url 'emprendimiento:solicitar' %}" class="hero-button">
                        Aplicar ahora
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon-arrow" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2"
                             stroke-linecap="round" stroke-linejoin="round">
                            <line x1="5" y1="12" x2="19" y2="12"/>
                            <polyline points="12 5 19 12 12 19"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="hero-images-main">
                <div class="hero-images">
                    <div class="hero-img"><img src="{% static 'images/entrepreneur-1.png' %}" alt="Emprendedor 1"/>
                    </div>
                    <div class="hero-img"><img src="{% static 'images/entrepreneur-2.png' %}" alt="Emprendedor 2"/>
                    </div>
                    <div class="hero-img"><img src="{% static 'images/entrepreneur-3.png' %}" alt="Emprendedor 3"/>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
