{% extends "financiacion_educativa/_base.html" %}
{% load static %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/financiacion_educativa_dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/financiacion_educativa_operaciones.css' %}">
{% endblock %}

{% block body_class %}education-dashboard-shell education-operations-shell{% endblock %}

{% block navbar %}{% include "financiacion_educativa/dashboards/operaciones/_navbar.html" %}{% endblock %}

{% block content %}
<div class="edu-dashboard-layout edu-operations-layout">
    {% include "financiacion_educativa/dashboards/operaciones/_sidebar.html" %}
    <section class="edu-dashboard-content" aria-label="Contenido del panel operativo">
        {% block operations_content %}{% endblock %}
    </section>
</div>
{% endblock %}
